<h2>Lista studentów</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Imię i nazwisko</th>
      <th>Adres e-mail</th>
      <th>Operacje</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'table-primary':student.id == 2,'table-success': student.id > 8}" 
        *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>
        <a *ngIf="student.id > 5" href="mailto:{{student.email}}">{{student.email}}</a>
      </td>
      <td>
        <button class="btn btn-outline-warning btn-margin-right btn-font-weight">Edytuj</button>
        <button (click)="deleteStudent(student.id)" class="btn btn-outline-danger btn-font-weight">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let student of students">
  <p>{{student.name}}</p>
</div> -->
